<h1>My Robots</h1>
<ol>
  <% @robots.each do |robot| %>
  <li>
    <ul>
      <li><%= robot.name %></li>
      <li><%= robot.city %></li>
      <li><%= robot.state %></li>
      <li><%= robot.department %></li>
      <form method="POST" action="/robots/<%= robot.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>
      <form action="/robots/<%= robot.id %>/edit" method="get"><input type="submit" value="Edit"></form>
      <!-- <a href="/robots/<%= robot.id %>/edit">Edit</a> -->
    </ul>
  </li>
  <% end %>
</ol>
<a href="/robots/new">Make a new robot</a>